:host {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.numbers {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.25rem;

  ::ng-deep .p-badge {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
  }
}
