<h1>Owned Lotteries</h1>
<div class="actions-container">
  <p-button
    label="Create Lottery"
    icon="pi pi-plus"
    (click)="openCreateLottery()"
  ></p-button>
</div>
<p-dialog
  [visible]="createLotteryDialogVisible()"
  (visibleChange)="createLotteryDialogVisible.set($event)"
  header="Create Lottery"
  [modal]="true"
  [dismissableMask]="false"
  [draggable]="false"
  [resizable]="false"
>
  <div>
    <p-float-label>
      <label>Name</label>
      <input
        pInputText
        [formControl]="nameControl"
      />
    </p-float-label>
    <p-message
      severity="secondary"
      size="small"
      variant="simple"
    >Only letters, numbers and '-'
    </p-message
    >
  </div>
  <ng-template #footer>
    <p-button
      label="Create"
      [loading]="createNewLotteryLoading()"
      (click)="createNewLottery()"
    />
  </ng-template>
</p-dialog>

@if (lotteries.isLoading()) {
  <div class="loader-container">
    <p-progress-spinner ariaLabel="loading"/>
  </div>
} @else if (lotteries.hasValue()) {
  <div class="lotteries-container">
    @for (lottery of lotteries.value(); track lottery.name) {
      <app-lottery-card [lottery]="lottery">
        <p-button
          icon="pi pi-cog"
          [size]="'small'"
          routerLink="/lotteries/manage/{{ lottery.name }}"
        />
      </app-lottery-card>
    }
  </div>
}
