.actions-container {
  padding-bottom: 1rem;
}

.lotteries-container {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;

  .lottery {
    width: 16rem;
  }
}

::ng-deep {
  .p-card-title {
    display: flex;
    justify-content: space-between;
  }

  .p-card-content {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    div {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }

  .p-card-footer {
    display: flex;
    justify-content: space-between;

    .users {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
}
