<div class="time-container">
  <div class="extraction-time">{{ currentExtraction().extractionTime | toLocalDate }}</div>
  @if (countDown()) {
    <div class="countdown">- {{ countDown() }}</div>
  }
  @if (!skipAnimation) {
    <p-button
      class="fab"
      icon="pi pi-forward"
      label="Skip animation"
      (click)="skipAnimation = true"
    />
  }
</div>
<div class="numbers-container winning">
  <div class="label">Winning numbers</div>
  <div
    class="numbers"
    [class.skip-animation]="skipAnimation"
  >
    @for (number of currentExtraction().winningNumbers; track $index; let last = $last) {
      <span
        class="number"
        [class.correct]="winningNumbersMap()[number]"
        (animationend)="last && (skipAnimation = true)"
      >{{ number }}</span>
    }
  </div>
</div>
<div class="numbers-container chosen">
  <div class="label">Your numbers</div>
  <div class="numbers">
    @for (number of currentExtraction().chosenNumbers; track $index) {
      <span class="number">{{ number }}</span>
    }
  </div>
</div>
