.next-extraction-container {
  display: flex;
  flex-flow: wrap;
  align-items: baseline;
  gap: 2rem;

  .winning-numbers {
    input {
      width: 20rem;
    }
  }
}

.previous-extractions-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .previous-extraction {
    flex: 1 0 100%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;

    .time {
      font-weight: bold;
    }

    div {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
}
