@switch (lottery.status()) {
  @case ('loading') {
    <p-progress-spinner class="full" ariaLabel="loading"/>
  }
  @case ('error') {
    <app-go-home-button/>
  }
  @case ('resolved') {
    <h1 class="title"><span>Lottery: {{ lottery.value()!.name }}</span><span class="actions"><app-share-lottery-button
      [lotteryId]="lottery.value()!.name"/></span></h1>
    <p-fieldset legend="Next extraction">
      <form
        class="next-extraction-container"
        [formGroup]="nextExtractionForm"
      >
        <p-float-label variant="in">
          <p-date-picker
            formControlName="extractionTime"
            [showTime]="true"
          ></p-date-picker>
          <label>Extraction time</label>
        </p-float-label>
        <div class="winning-numbers">
          <p-float-label variant="in">
            <label>Winning numbers</label>
            <input
              pInputText
              formControlName="winningNumbers"
            />
          </p-float-label>
          <p-message
            severity="secondary"
            size="small"
            variant="simple"
          >0-99, separated by comma
            @if (currentNumbersInserted$ | async; as cni) {
              [inserted {{ cni }} number]
            }
          </p-message>
        </div>
        <p-button
          type="submit"
          icon="pi pi-save"
          label="Save"
          [loading]="savingNextExtraction()"
          (onClick)="saveNextExtraction()"
        />
      </form>
    </p-fieldset>
    @let prevExtr = previousExtractions();
    @if (prevExtr && prevExtr.length) {
      <p-fieldset
        legend="Previous extractions"
        [toggleable]="true"
        [collapsed]="true"
      >
        <div class="previous-extractions-container">
          @for (extraction of prevExtr;
            track extraction.extractionTime) {
            <div class="previous-extraction">
              <div class="label-with-icon emp"><span class="pi pi-clock"></span>{{ extraction.extractionTime }}</div>
              <div class="label-with-icon"><span class="pi pi-trophy"></span>{{ extraction.winningNumbers }}</div>
            </div>
          }
        </div>
      </p-fieldset>
    }
  }
}
