.chosen-numbers-container {
  display: flex;
  width: 100%;
  flex-flow: wrap;
  align-items: center;
  gap: 2rem;

  .chosen-numbers {
    input {
      width: 20rem;
    }
  }
}

.previous-extractions-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .previous-extraction {
    flex: 1 0 100%;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

    .numbers {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}
