.chosen-numbers-container {
  display: flex;
  width: 100%;
  flex-flow: wrap;
  align-items: baseline;
  gap: 2rem;

  .chosen-numbers {
    input {
      width: 20rem;
    }
  }
}

.previous-extractions-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .previous-extraction {
    flex: 1 0 100%;

    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 1rem;

    .extraction-time {
      width: 19rem;
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      align-items: center;

      .label-with-icon {
        white-space: nowrap;
      }
    }

    app-winning-chosen-numbers {
      flex: 1 1 auto;
    }
  }
}
