@switch (lottery.status()) {
  @case ('loading') {
    <div class="loader-container">
      <p-progress-spinner ariaLabel="loading"/>
    </div>
  }
  @case ('error') {
    <app-go-home-button/>
  }
  @case ('resolved') {
    <h1>Lottery: {{ lottery.value()!.name }}</h1>
    @if (lastExtractionForUI()) {
      <p-fieldset legend="Current Extraction">
        <div class="previous-extractions-container">
          <div class="previous-extraction">
            <div class="label-with-icon emp">
              <span class="pi pi-clock"></span>{{ lastExtractionForUI()?.extractionTime }}
            </div>
            <div class="numbers">
              <div class="label-with-icon">
                <span class="pi pi-trophy"></span> {{ lastExtractionForUI()?.winningNumbers }}
              </div>
              <div class="label-with-icon">
                <span class="pi pi-heart"></span> {{ lastExtractionForUI()?.chosenNumbers }}
              </div>
            </div>
          </div>
        </div>
      </p-fieldset>
    } @else {
      <p-progress-spinner ariaLabel="loading"/>
    }
    <p-fieldset
      legend="Numbers for next extraction"
      [formGroup]="nextExtractionForm"
    >
      <div class="chosen-numbers-container">
        <div class="label-with-icon emp">
          <span class="pi pi-clock"></span>{{ nextExtractionTime() }}
        </div>
        <div class="chosen-numbers">
          <p-float-label>
            <label>Chosen numbers</label>
            <input
              pInputText
              formControlName="chosenNumbers"
            />
          </p-float-label>
          <p-message
            severity="secondary"
            size="small"
            variant="simple"
          >0-99, separated by comma
            @if (currentNumbersInserted$ | async; as cni) {
              [inserted {{ cni }} number]
            }
          </p-message>
        </div>
        <p-button
          type="submit"
          icon="pi pi-save"
          label="Save"
          [loading]="savingChosenNumbers()"
          (onClick)="saveChosenNumbers()"
        />
      </div>
    </p-fieldset>

    @switch (previousExtractions.status()) {
      @case ('loading') {
        <div class="loader-container">
          <p-progress-spinner ariaLabel="loading"/>
        </div>
      }
      @case ('resolved') {
        @let prevExtr = previousExtractions.value();
        @if (prevExtr?.length) {
          <p-fieldset
            legend="Previous extractions"
            [toggleable]="true"
            [collapsed]="true"
          >
            <div class="previous-extractions-container">
              @for (extraction of prevExtr; track extraction.extractionTime) {
                <div class="previous-extraction">
                  <div class="label-with-icon emp">
                    <span class="pi pi-clock"></span>{{ extraction.extractionTime }}
                  </div>
                  <div class="numbers">
                    <div class="label-with-icon">
                      <span class="pi pi-trophy"></span> {{ extraction.winningNumbers }}
                    </div>
                    <div class="label-with-icon">
                      <span class="pi pi-heart"></span> {{ extraction.chosenNumbers }}
                    </div>
                  </div>
                </div>
              }
            </div>
          </p-fieldset>
        }
      }
    }
  }
}
