@switch (lottery.status()) {
  @case ('loading') {
    <div class="loader-container">
      <p-progress-spinner ariaLabel="loading"/>
    </div>
  }
  @case ('error') {
    <app-go-home-button/>
  }
  @case ('resolved') {
    <h1>Lottery: {{ lottery.value()!.name }}</h1>
    <p-fieldset
      legend="Chosen numbers"
      [formGroup]="nextExtractionForm"
    >
      <div class="chosen-numbers-container">
        <div>Next extraction: {{ nextExtractionTime() }}</div>
        <div class="chosen-numbers">
          <p-float-label>
            <label>Winning numbers</label>
            <input
              pInputText
              formControlName="chosenNumbers"
            />
          </p-float-label>
          <p-message
            severity="secondary"
            size="small"
            variant="simple"
          >0-99, separated by comma
            @if (currentNumbersInserted$ | async; as cni) {
              [inserted {{ cni }} number]
            }
          </p-message>
        </div>
        <p-button
          type="submit"
          icon="pi pi-save"
          label="Save"
          [loading]="savingChosenNumbers()"
          (onClick)="saveChosenNumbers()"
        />
      </div>
    </p-fieldset>

    @switch (previousExtractions.status()) {
      @case ('loading') {
        <div class="loader-container">
          <p-progress-spinner ariaLabel="loading"/>
        </div>
      }
      @case ('resolved') {
        @let prevExtr = previousExtractions.value();
        @if (prevExtr?.length) {
          <p-fieldset
            class="p-pt-1"
            legend="Previous extractions"
          >
            <div class="previous-extractions-container">
              @for (extraction of prevExtr; track extraction.extractionTime) {
                <div class="previous-extraction">
                  <div class="time">{{ extraction.extractionTime }}</div>
                  <div class="numbers">
                    <div><span class="pi pi-trophy"></span> {{ extraction.winningNumbers }}</div>
                    <div><span class="pi pi-heart"></span> {{ extraction.chosenNumbers }}</div>
                  </div>
                </div>
              }
            </div>
          </p-fieldset>
        }
      }
    }
  }
}
