/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

app-root {
  .loader-container {
    display: flex;
    justify-content: center;
  }

  p-progress-spinner {
    &.medium {
      width: 5rem;
      height: 5rem;
    }

    &.full {
      width: 100%;
    }
  }

  p-float-label {
    margin-top: 1.3rem;

    + p-message {
      margin-top: 0.25rem;
    }
  }

  p-button.fab {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
  }

  .actions-container {
    padding-bottom: 1rem;
  }

  .lotteries-container {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
  }

  .lottery-card {
    width: 16rem;
  }

  p-fieldset + p-fieldset {
    margin-top: 2rem;
    display: block;
  }

  .p-fieldset-content {
    padding-top: 0.5rem;
  }
}

.label-with-icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &.emp {
    font-weight: bold;
  }
}
